// Div text should appear in center of div
	{
        position: relative;
        display: flex;
        top: 50%;
        align-items: center;
        justify-content: center;
    }
// Div image shoould appear in the center
	{
		background-image: url('../../../../assets/images/svg/video/loading.svg');
		background-position: center;
		background-repeat: no-repeat;
		position: absolute; /*Can also be `fixed`*/
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
   